body {
    font-family: Inconsolata, monospace;
    background: #000;
    font-size: 30px;
    color: whitesmoke;
    padding: 15px;
}

span {
    color: white;
    position: absolute;
    /*padding: 15px;*/
    z-index: 1;
    margin-left: 40px;
    top: 330px;
    background: black;
}

#scroll_sub {
    background: black;
    /*background: greenyellow;*/
    left: 350px;
}

#scroll_container {
    height: 200px;
    border: 1px gray solid;
    background: black;
}

#top_block,
#bottom_block {
    position: absolute;
    z-index: 2;
    height: 60px;
    background: black;
    width: 90%;
    /* todo set to width of containing div*/
}

#hole {
    height: 140px;
}

#footer {
    margin-top: 40px;
    font-size: 14px;
    font-style: italic;
}